#order
	img
		vertical-align middle
	span
		margin-right 25px
		font-weight 600
		
.menuList
	label
		margin 20px
		text-transform capitalize
		
	.menuName
	.menuPrice
		font-size 17px
		margin 0 2px 0 10px
	
	.menuType
		vertical-align super