colorLinks = #08FCF8
colorHeader = #eee
colorHeaderNews = #999
colorHelperText = #999
colorFlash = #fff
colorBG = #000

widthPage = 955px
widthMainColumn = 650px

fontFamilyMain = Verdana, Geneva, sans-serif
fontSizeMain = 15px

wallPaperUri = 'http://static1.businessinsider.com/image/521580196bb3f7ad6900002e/take-a-tour-of-the-awesome-cafeteria-at-espns-headquarters.jpg'


// helpers
transparerentBG(_colorBG = colorBG, opacity = .6)
    background _colorBG
    background rgba(_colorBG, opacity)

.clr
    clear both

.block
	display block

@keyframes flash
    from
        background rgba(colorFlash, .9)
